body {
    background-color: #0a0a0a;
    color: #5b0b0d;
    font-size: 3.5vh;
    font-family: "Century Gothic";
    overflow: hidden;
}


h1 {
    color: #931214;
    font-size: 10vh;
    font-family: "Century Gothic";
}


/* for top headers on all pages*/
.header {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 3vw 2vw;
    background: linear-gradient(to bottom, #0a0a0a 78%, transparent 90%);
    /*background-color: #0a0a0a;*/
}


/* makes the line underneath the main header */
.line {
    background-color: #5b0b0d;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 0.25vh;
    margin: 0 auto;
}


/* makes the page links the correct colour */
.nav-link {
    color: #931214;
}


/* makes the page links blur and change colour when hovered over */
.nav-link:hover {
    color: #5b0b0d;
    color: transparent;
    text-shadow: 0 0 0.275vh #5b0b0d;
}


/* centers and adds padding to paragraphs */
p {
    padding: 0.25vh 4vw;
    text-align: center;
}


/*-----------------------------------------------------------------
                            SCROLLBAR
------------------------------------------------------------------*/


::-webkit-scrollbar {
    width: 0;
}


/*-----------------------------------------------------------------
                            HOMEPAGE
------------------------------------------------------------------*/


/* sets up small-print for footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.75vh;
}


.bannerImage {
    position: fixed;
    top: 40vh;
    width: 100%;
}


/*-----------------------------------------------------------------
                            INTERESTS (OFFCANVAS)
------------------------------------------------------------------*/


/*  */
.minimalistButton {
    color: #931214;
    background-color: transparent;
    border: none;
    padding: 0vh;
}


.minimalistButton:hover {
    color: transparent;
    text-shadow: 0 0 0.275vh #5b0b0d;
}


.pedalPhoto {
    width: 300px;
}


.offcanvasContent {
    text-align: center;
}


.bright {
    color: #931214;
}


.dark {
    font-size: 3vh;
}


/*-----------------------------------------------------------------
                            CAREER
------------------------------------------------------------------*/


.careerContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 35vh;
}


.careerImage {
    width: 25vw;
    margin: 0vw 5vw;
}


.imageOverlay {
    position: absolute;
    bottom: 0;
    left: 5vw;
    right: 0;
    background-color: #5b0b0d;
    opacity: 0.8;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 1s ease;
}


.careerImageContainer {
    position: relative
}


.careerImageContainer:hover .imageOverlay {
    width: 5vw;
}


.careerText {
    position: absolute;
    color: #0a0a0a;
    font-size: 4vw;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    top: 10vw;
    left: 50%;
    transform: translate(-3vw, -9vw);
    white-space: nowrap;
}


/*-----------------------------------------------------------------
                             UNIVERSITY
------------------------------------------------------------------*/


.universityText {
    padding: 0 12vw;
    padding-top: 35vh;
    padding-bottom: 5vh;
    text-align: center;
}


.university {
    overflow: auto;
}


.uniRow {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}


.uniCol {
    flex: 0 0;
    padding: 0 0;
}

.uniCol img {
    width: 22vw;
    padding: 1vw;
}


/*-----------------------------------------------------------------
                                WORK
------------------------------------------------------------------*/


.workContainer {
    padding: 35vh 20vw 5vh 20vw;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    transition: all ease 1s;
}


.workImage {

}


.workImage img {
    width: 22vw;
    /*height: 60vh;*/
}


.workImage img:hover {
    box-shadow: 0 0 2vh 0.5vh #931214;
}

.workDescription {
    width: 0vw;
    transition: all ease 1s;
}


/*-----------------------------------------------------------------
                            INTERESTS (MAIN)
------------------------------------------------------------------*/


.interests {
    overflow: auto;
}


.interestMain {
    padding-top: 40vh;
}


.interestRow {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}


.interestCol {
    flex: 0 0;
    padding: 0 0;
}


.interestCol img {
    height: 40vh;
    padding: 0 0 0 0;
}

.interestCol p {
    height: 37.5vh;
    padding: 2vh 2vw 0 2vw;
}


.end {
    height: 5vh;
}